---
layout: default
nav:
    - title: into the garden
      id:    into-the-garden
      link:  /notes/
intro: "the entrance of a quiet garden stands before you. a handwritten, paper sign beckons you closer; penned upon it:"
---

{% include page-intro %}
<main>
    <article>
    {{ content }}
    </article>
</main>
