---
layout: default
nav:
    - title: back to the entrance
      link:  /
    - title: look at the guide
      link:  /notes/
intro: "among tall blades of grass, you find a sheet of paper that reads:"
---

{% include page-intro %}
<main>
    <article>
    {{content}}
    </article>
    <hr>
    <section class="note-details">
        <div class="page-date">
            {{ page.date | shortutc | downcase }} /
            {% if modified %}
            <a target="_blank" rel="noopener noreferrer" href="{{ modifications }}">edited {{ modified | downcase }}</a> /
            {% endif %}
            <!--space->--> <!--<-space-->
            {% include backlinks %}
        </div>
    </section>
</main>
