---
layout: default
nav:
    - title: back to the entrance
      link:  /
    - title: look at the guide
      link:  /notes/
---

<main>
    <article>
    {{content}}
    </article>
    <hr>
    <section class="note-details">
        <p class="page-date">
            {{ page.date | short_utc | downcase }} /
            {% if modified %} edited {{ modified | short_utc | downcase }} /{% endif %}
            <!--space->--> <!--<-space-->
            {% include backlinks.html %}
        </p>
    </section>
</main>