---
layout: default
nav:
    - title: back to the entrance
      link: /
    - title: look at the guide
      link: /notes/
---

{%include page-header.html %}
<main>
    <article>
        {{content}}
    </article>
    <hr>
    <section class="note-details">
        <p class="page-date">
            {{ page.date | date: "%e %b. %Y" | downcase }} /
            {% if modified %}edited {{ modified | date: "%e %b. %Y" | downcase }} /{% endif %}
        </p>
        {% include backlinks.html %}
    </section>
</main>