<hr>
{% if backlinks.length > 0 %}
<p class="backlinks-title larger">linked in:</p>
<ul class="backlinks-container">
    {% for link in backlinks %}
        <li class="backlink">
            <a href="{{ link.url }}" class="backlink__link">{{ link.title }}</a>
            <div class="backlink__preview" role="none">
                {{ link.preview | markdownify }}
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p class="backlinks-default">not linked anywhere else</p>
{% endif %}