<div class="footer-links">
    {% for social in footer-links.socials %}
    {% include footer-link, link: social.link, icon: social.icon, alt: social.alt %}
    {% endfor %}
</div>
<div class="footer-links">
    {% for extra in footer-links.extras %}
    {% include footer-link, link: extra.link, icon: extra.icon, alt: extra.alt %}
    {% endfor %}
</div>
