#into-the-garden {
    height: 1em;
    line-height: 1em;
    overflow: hidden;

    ul {
        transition: margin-top 0.2s;
        margin: 0;
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5em;

            &:last-child {
                margin: 0;
            }
        }
    }
}