$bg-corners: 0.3em;

@font-face {
    font-family: "Emoji";
    src: local("Apple Color Emoji"), local("Noto Color Emoji"), url("/assets/fonts/noto-color-emoji.ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Bitter";
    src: url("/assets/fonts/bitter.ttf");
    font-display: fallback;
    font-style: normal;
}

@font-face {
    font-family: "Bitter";
    src: url("/assets/fonts/bitter-italic.ttf");
    font-display: fallback;
    font-style: italic;
}

@font-face {
    font-family: "Fira Code";
    src: local("Fira Code"), url("/assets/fonts/fira-code.woff2"), url("/assets/fonts/fira-code.woff");
    font-display: fallback;
}

body {
    font-family: "Bitter", serif, "Emoji";
    max-width: 9in;
    padding: 1.4em;
    margin: 1.4em auto;
    margin-bottom: 0;
    background-color: #f5f4f2;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

header {
    display: flex;
    align-items: center;

    .page-icon {
        font-size: 3em;
    }

    .page-icon, nav a {
        margin-right: 1rem;
    }

    nav {
        $margin: 0.2em;
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 5em;
        margin-bottom: -$margin;

        a {
            width: fit-content;
            border: 1px solid lightgrey;
            margin-bottom: $margin;

            &:hover {
                border: 1px solid black;
            }
        }
    }
}

article {
    margin: 1em 0;

    a {
        &::before { content: "{" }
        &::after { content: "}" }
    }

    .external {
        &::before { content: "[" }
        &::after { content: "]" }
    }
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: 500;
}

a {
    border-radius: $bg-corners;
    transition: 0.1s;
    padding: 0.1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    &:hover {
        background-color: black;
        color: white;
    }
}

main {
    min-height: 100%;
    display: block;
    position: relative;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    padding-top: 1em;
    bottom: 0;
    left: 0;
    margin-bottom: 1em;
}

hr {
    border: none;
    border-top: 1pt solid #575f66;
    margin: 0 -1em;
}

figure, pre, code {
    border-radius: $bg-corners;
    background-color: #FAFAFA;
    color: #575f66;
    box-shadow: 0 0 0.5in transparentize(#575f66, 0.97);
}

figure, pre {
    padding: 1em;
}

code {
    padding: 0 0.3em;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    
    a, div {
        max-height: 4in;
        text-align: center;

        img {
            max-width: 100%;
            max-height: inherit;
            filter: drop-shadow(0 0 0.1in transparentize(#575f66, 0.8));
        }
    }

    figcaption {
        margin-top: 1em;
        font-style: italic;
        text-align: center;
    }

    &.math, table {
        color: black;

        .katex-display {
            margin: 0;
        }
    }
}

.footnotes-list {
    padding-inline-start: 2em;
}

.footnote-ref a, .footnote-backref, .no-decor, figure[data-type="image"] a {
    &::before { content: none }
    &::after { content: none }
}

figure[data-type="image"] a:hover {
    color: inherit;
    background-color: inherit;
}

pre, code, .footnote-ref a, .footnote-backref, .footnote-item::marker {
    font-family: "Fira Code", monospace;
}

pre, code {
    word-break: break-all;
    white-space: pre-wrap;
}

pre {
    code {
        background-color: none;
        box-shadow: none;
    }
}

table {
    border-collapse: collapse;
    $accent: #edf2e9;

    th, td {
        $corners: 0.1rem;
        padding: 0.5rem;
        border-right: 1px $accent solid;

        &:first-child {
            border-radius: $corners 0 0 $corners;
        }

        &:last-child {
            border-radius: 0 $corners $corners 0;
            border-right: none;
        }
    }

    th, tr:nth-child(2n) td {
        background-color: $accent;
        border-right: 1px white solid;

        &:last-child {
            border-right: none;
        }
    }

    th {
        background-color: darken(saturate($accent, 10%), 10%)
    }

    @media (orientation: portrait) {
        font-size: 0.8em;

        th, td {
            $padding-block: 0.3rem;
            padding-top: $padding-block;
            padding-bottom: $padding-block;
        }
    }
}

.page-date {
    display: inline-block;
}

.note-details {
    font-style: italic;
}

.backlinks, .backlinks-signal {
    display: inline;
    padding-inline-start: 0;
}

.backlinks li {
    margin: 0 0.2em;
    font-style: normal;
    display: inline;
}

.preview {
    display: none;
}