@use "sass:math";

@font-face {
    font-family: "Emoji";
    src: local("Apple Color Emoji"), local("Noto Color Emoji"), url("/assets/fonts/noto-color-emoji.ttf");
    font-display: fallback;
}

$bg-corners: 0.3em;
$background-color: #eee8e4;
$foreground-color: #3c3830;
$link-highlight: #24ff8760;
$link-decoration-color: scale-color(indigo, $saturation: -50%);
$lighter-link-decoration-color: scale-color($link-decoration-color, $saturation: -40%, $lightness: 60%);
$link-decoration-width: 0.084em;
$link-transition-timing: 0.4s cubic-bezier(1, 0.01, 0.45, 1);
$table-accent: rgba(243, 212, 36, 0.226);

$link-transition: background-color $link-transition-timing, box-shadow $link-transition-timing,
    color $link-transition-timing, transform $link-transition-timing, text-decoration-color $link-transition-timing;

body {
    font-family: "Atkinson Hyperlegible", serif, "Emoji";
    font-size: 1.2rem;
    text-underline-offset: 0.05em;
    max-width: 9in;
    padding: 1.4em;
    margin: 1.4em auto !important; // normalize.css breaks this without !important
    margin-bottom: 0;
    background-color: $background-color;
    color: $foreground-color;
    -webkit-tap-highlight-color: $link-highlight;

    &::before {
        content: "";
        background-image: url("/assets/header-leaves.webp");
        background-size: cover;
        background-position: left bottom;
        width: 100%;
        height: clamp(25em, 25vw, 30vh);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background-repeat: no-repeat;
        filter: contrast(0.2) saturate(1.5);
        opacity: 40%;
        mix-blend-mode: color-burn;
    }
}

header {
    display: flex;
    align-items: center;

    .page-icon {
        font-size: 3em;
    }

    .page-icon,
    nav a {
        margin-right: 1rem;
    }

    nav {
        $margin: 0.6em;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 6em;
        margin-bottom: -$margin;

        a {
            width: fit-content;
            border: $link-decoration-width solid $link-decoration-color;
            margin-bottom: $margin;
            padding: 0.3em 0.5em;
            transition: $link-transition, border-color $link-transition-timing;
            text-decoration: none;

            &:hover {
                border-color: transparent;
            }
        }
    }
}

#intro {
    font-size: 0.8em;
    font-family: "Fira Code";
    margin-top: 3.5em;
    opacity: 80%;
    transition: opacity 2s;
}

$link-padding: 0.1em;

a,
figure[data-type="image"] figcaption a {
    border-radius: $bg-corners;
    padding: $link-padding;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    border-radius: 1em;
    display: inline-block;
    padding: 0;

    transition: $link-transition;

    &:hover,
    &:focus {
        background-color: $link-highlight;
        box-shadow: 0 0 0 0.3em $link-highlight;
        text-decoration-color: transparent;
    }

    &:focus {
        transition: 0.05s;
    }
}

article {
    margin: 1em 0;

    a.external,
    figure[data-type="image"] figcaption a.external {
        &::after {
            content: ""; // TODO: indicate external
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Calistoga";
    font-weight: 100;
}

main {
    min-height: 100%;
    display: block;
    position: relative;
    line-height: 1.8;
}

a {
    text-decoration: underline $link-decoration-width solid $link-decoration-color;
    -webkit-text-decoration-color: $link-decoration-color;

    color: inherit;
}

footer {
    padding-top: 1em;
    bottom: 0;
    left: 0;
    margin-bottom: 1em;
}

ul li p {
    margin: 0;
}

hr {
    border: none;
    border-top: 1pt solid #575f66;
    margin: 0 -1em;
}

figure,
pre,
code {
    border-radius: $bg-corners;
    background-color: scale-color($background-color, $whiteness: 50%);
    color: scale-color(#575f66, $whiteness: -10%);
    box-shadow: 0 0 0.5in transparentize(#575f66, 0.97);
}

figure,
pre {
    padding: 1em;
}

code {
    padding: 0 0.3em;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;

    a,
    div {
        max-height: 4in;
        text-align: center;

        img {
            transition: border-radius $link-transition-timing;
            border-radius: inherit;
        }
    }

    img,
    iframe {
        max-width: 100%;
        max-height: inherit;
        filter: drop-shadow(0 0 3pt transparentize(#575f66, 0.8));
        width: auto;
        height: auto;
        padding: 0;
    }

    a,
    div,
    iframe {
        border-radius: 0.2rem;
    }

    figcaption {
        margin-top: 1em;
        font-style: italic;
        text-align: center;
        font-size: 0.9em;
    }

    &.math,
    table {
        color: black;

        .katex-display {
            margin: 0;
        }
    }
}

blockquote {
    font-size: 1.3em;
    font-style: italic;
}

.footnotes-list {
    padding-inline-start: 2em;
}

pre,
code,
.footnote-ref a,
.footnote-backref,
.footnote-item::marker {
    font-family: "Fira Code", monospace;
}

pre,
code {
    word-break: break-all;
    white-space: pre-wrap;
}

pre {
    code {
        background-color: none;
        box-shadow: none;
    }
}

table {
    border-collapse: collapse;

    th,
    td {
        $corners: 0.1rem;
        padding: 0.5rem;
        border-right: 1px $table-accent solid;

        &:first-child {
            border-radius: $corners 0 0 $corners;
        }

        &:last-child {
            border-radius: 0 $corners $corners 0;
            border-right: none;
        }
    }

    th,
    tr:nth-child(2n) td {
        background-color: $table-accent;
        border-right: 1px white solid;

        &:last-child {
            border-right: none;
        }
    }

    th {
        background-color: scale-color($table-accent, $lightness: -10%, $alpha: 50%);
    }

    @media (orientation: portrait) {
        font-size: 0.9em;

        th,
        td {
            $padding-block: 0.3rem;
            padding-top: $padding-block;
            padding-bottom: $padding-block;
        }
    }
}

.page-date {
    display: inline-block;
    margin: 1em 0;
}

.note-details {
    font-style: italic;
}

.backlinks,
.backlinks-signal {
    display: inline;
    padding-inline-start: 0;
}

.backlinks li {
    margin: 0 0.2em;
    font-style: normal;
    display: inline;
}

.preview {
    display: none;
}

.socials {
    $size: 1.7em;
    $padding: 0.15em;

    height: $size;
    user-select: none;

    a {
        height: inherit;
        text-decoration: none;
        margin-right: math.div($size, 2) - $padding;
        padding: $padding;
        display: inline-block;
        filter: invert(0);

        &:last-child {
            margin-right: 0;
        }

        img {
            height: inherit;
            filter: opacity(0.75); // TODO: make SVGs use current color
        }
    }

    @media (orientation: portrait) {
        width: fit-content;
        margin: 0 auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: scale-color($foreground-color, $lightness: -80%);

        &::before {
            filter: contrast(0.65) saturate(1.2) blur(1px);
            opacity: 15%;
            mix-blend-mode: lighten;
        }
    }

    a {
        text-decoration-color: $lighter-link-decoration-color;
        -webkit-text-decoration-color: $lighter-link-decoration-color;
    }

    header nav a {
        border-color: $lighter-link-decoration-color;
    }

    body,
    th,
    td {
        color: $background-color;
    }

    $figure-background: scale-color($background-color, $lightness: -90%, $saturation: -50%);

    figure,
    pre,
    code {
        background-color: $figure-background;
        color: scale-color(#575f66, $lightness: 65%);
        box-shadow: 0 0 0.5in transparentize(#575f66, 0.97);
    }

    figure {
        img,
        iframe {
            filter: drop-shadow(0 0 8pt transparentize(scale-color(#575f66, $whiteness: 50%), 0.8));
        }
    }

    table {
        $dark-table-accent: transparentize($table-accent, 0.1);

        th,
        td {
            border-right: 1px $dark-table-accent solid;
        }

        th,
        tr:nth-child(2n) td {
            background-color: $dark-table-accent;
        }

        th {
            background-color: scale-color($dark-table-accent, $lightness: -10%, $alpha: 50%);
        }

        th,
        tr:nth-child(2n) td {
            border-right: 1px $figure-background solid;
        }
    }

    .socials a img {
        filter: invert(1);
        opacity: 80%;
    }
}
