.socials {
    $size: 1.7em;
    
    height: $size;

    a {
        height: inherit;
        text-decoration: none;
        margin: 0 ($size / 4);

        img {
            height: inherit;
        }
    }
}