@use "sass:math";

.socials {
    $size: 1.7em;
    $padding: 0.15em;
    
    height: $size;
    user-select: none;

    a {
        height: inherit;
        text-decoration: none;
        margin-right: math.div($size, 4) - $padding;
        padding: $padding;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }

        img {
            height: inherit;
        }

        &:hover {
            background-color: transparent;
            color: black;

            @supports (filter: invert(1)) {
                filter: invert(1);
                background-color: white;
            }
        }
    }

    @media (orientation: portrait) {
        width: fit-content;
        margin: 0 auto;
    }
}
